################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Custom Weather Client Tool/bin
/Custom Weather Client Tool/obj
/packages
